{% extends 'base.html.twig' %}
{% form_theme form 'form/form_theme.html.twig' %}

{% block body %}
   <div {{ react_component('Calendar/CalendarApp', { initialEvents: events }) }}>
      Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
   </div>
{% endblock %}