.menu {
    position: sticky;
    top: 0;
    width: 4rem;
    height: 100vh;
    transition: width 0.4s ease-in-out;
}
.menu.open {
    width: 200px;
}
/** Toggle menu (open/close) **/
.menu .toggle {
    transform: translateX(47%)rotate(45deg);
    transition: opacity 300ms ease-in-out;
    border-radius:5px;
}
.menu .toggle svg {
    transform: rotate(-45deg);
}
/** Hide label **/
.menu.close .brand a span.brand-label,
.menu.close nav a span.link-label {
    transition: opacity 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}

/** menu link : scrollbar **/
.menu nav {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: calc(100vh - 120px);
}
.menu nav::-webkit-scrollbar {
    display: none;
}

/** menu link : nav-fade **/
.menu .nav-fade {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    pointer-events: none;
    z-index: 10;
}
.menu .nav-fade-bottom {
    background: linear-gradient(to top, rgba(31, 41, 55, 1), rgba(31, 41, 55, 0));
    bottom: 0;
}
.menu .nav-fade-top {
    background: linear-gradient(to bottom, rgba(31, 41, 55, 1), rgba(31, 41, 55, 0));
    top: 0;
}

/* User info **/
.menu.close .user-info {
    display: none;
}
.menu.open .user-info .email-truncate {
    max-width: 115px; /* usefull for text-overflow: ellipsis */
}
.user-info .email-truncate {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}